<!-- SASS: src/stylesheets/_elements/lists.scss -->

<h6>Unordered list</h6>
<ul>
  <li>Unordered list item</li>
  <li>Unordered list item</li>
  <li>Unordered list item</li>
</ul>

<h6>Ordered list</h6>
<ol>
  <li>Ordered list item</li>
  <li>Ordered list item</li>
  <li>Ordered list item</li>
</ol>

<h6>Description List</h6>
<dl>
  <dt>Description list item</dt>
  <dd>Description of item</dd>
  <dt>Description list item</dt>
  <dd>Description of item</dd>
</dl>
