<!-- SASS: src/stylesheets/_components/table.scss -->
<!-- JS: src/js/table.js -->

<table class="vaux-table" role="grid" tabindex="0">
  <caption class="usa-sr-only">An Example Table</caption>
  <thead>
    <tr>
      <th scope="col" tabindex="0">Document title</th>
      <th scope="col" tabindex="0">Description</th>
      <th scope="col" tabindex="0">Year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th tabindex="0">Declaration of Independence</th>
      <td tabindex="0">Statement adopted by the Continental Congress declaring independence from the British Empire.</td>
      <td tabindex="0">1776</td>
    </tr>
    <tr>
      <th tabindex="0">Bill of Rights</th>
      <td tabindex="0">The first ten amendments of the U.S. Constitution guaranteeing rights and freedoms.</td>
      <td tabindex="0">1791</td>
    </tr>
    <tr>
      <th tabindex="0">Declaration of Sentiments</th>
      <td tabindex="0">A document written during the Seneca Falls Convention outlining the rights that American women should be
          entitled to as citizens.
      </td>
      <td tabindex="0">1848</td>
    </tr>
    <tr>
      <th tabindex="0">Emancipation Proclamation</th>
      <td tabindex="0">An executive order granting freedom to slaves in designated southern states.</td>
      <td tabindex="0">1863</td>
    </tr>
  </tbody>
</table>