<!-- SASS: src/stylesheets/_components/table.scss -->
<!-- JS: src/js/table.js -->

<div class="vaux-table vaux-table--framed vaux-table--borderless" data-table-framed-trigger>
  <table role="grid">
    <caption class="usa-sr-only">An Example Table</caption>
    <thead>
      <tr>
        <th class="active" tabindex="0">Date/Time</th>
        <th tabindex="0">BP</th>
        <th tabindex="0">Pulse</th>
        <th tabindex="0">Resp</th>
        <th tabindex="0">Temp</th>
        <th tabindex="0">Weight</th>
        <th tabindex="0">Pain</th>
        <th tabindex="0">Pulse 02</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th tabindex="0">
            09/15/2016<br>
            05:16
        </th>
        <td tabindex="0">132/82</td>
        <td tabindex="0">85</td>
        <td tabindex="0">17</td>
        <td tabindex="0">98.8</td>
        <td tabindex="0">154</td>
        <td tabindex="0">0</td>
        <td tabindex="0">-</td>
      </tr>
      <tr>
        <th tabindex="0">
            09/15/2016<br>
            05:16
        </th>
        <td tabindex="0">132/82</td>
        <td tabindex="0">85</td>
        <td tabindex="0">17</td>
        <td tabindex="0">98.8</td>
        <td tabindex="0">154</td>
        <td tabindex="0">0</td>
        <td tabindex="0">-</td>
      </tr>
      <tr>
        <th tabindex="0">
            09/15/2016<br>
            05:16
        </th>
        <td tabindex="0">132/82</td>
        <td tabindex="0">85</td>
        <td tabindex="0">17</td>
        <td tabindex="0">98.8</td>
        <td tabindex="0">154</td>
        <td tabindex="0">0</td>
        <td tabindex="0">-</td>
      </tr>
      <tr>
        <th tabindex="0">
            09/15/2016<br>
            05:16
        </th>
        <td tabindex="0">132/82</td>
        <td tabindex="0">85</td>
        <td tabindex="0">17</td>
        <td tabindex="0">98.8</td>
        <td tabindex="0">154</td>
        <td tabindex="0">0</td>
        <td tabindex="0">-</td>
      </tr>
    </tbody>
  </table>
</div>