<!-- SASS: src/stylesheets/_components/button-toggle.scss -->

<fieldset class="usa-fieldset-inputs vaux-toggle-button-row">
  <legend>Status:</legend>

  <ul class="usa-unstyled-list">
    <li class="vaux-toggle-button">
      <input id="vauxToggleOne" type="radio" name="vaux-toggle-active" value="active" checked>
      <label for="vauxToggleOne">Active</label>
    </li>
    <li class="vaux-toggle-button">
      <input id="vauxToggleTwo" type="radio" name="vaux-toggle-active" value="inactive">
      <label for="vauxToggleTwo">Inactive</label>
    </li>
    <li class="vaux-toggle-button">
      <input id="vauxToggleThree" type="radio" name="vaux-toggle-active" value="both">
      <label for="vauxToggleThree">Both</label>
    </li>
  </ul>
</fieldset>