<!-- SASS: src/stylesheets/_elements/inputs.scss -->

<label for="lunchTime">Time of lunch</label>
<span class="usa-form-hint">For example: HH:MM AM/PM</span>
<input id="lunchTime" name="lunchTime" type="time">


