<!-- SASS: src/stylesheets/_elements/inputs.scss -->

<label for="input-type-textarea">Text area label</label>
<textarea id="input-type-textarea" name="input-type-textarea"></textarea>

<!-- Validation - Error -->
<div class="usa-input-error">
  <label class="usa-input-error-label" for="input-error">Text area input error</label>
  <span class="usa-input-error-message" id="input-error-message" role="alert">Helpful error message</span>
  <textarea id="input-error" name="input-error" aria-describedby="input-error-message"></textarea>
</div>