/* ----------------------------- */
/* 6r. Pagination
/* ----------------------------- */

$pagination-mobile-bg-color: $color-gray-lightest;
$pagination-mobile-border: 1px $color-gray-lighter solid;
$pagination-disabled-color: $color-gray-light;
$pagination-active-color: $color-black;

.vaux-pagination {
  background-color: $pagination-mobile-bg-color;
  border-top: $pagination-mobile-border;
  padding: 1.5rem 2.0rem;
  text-align: center;

  ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0px;
    width: 100%;
  }
  
  /* hide all page numbers */
  li {
    display: none; 
    &.vaux-pagination-previous,
    &.vaux-pagination-next,
    &.vaux-pagination-page-counter {
      display: inline;
    }
  }

  @include media($tablet-screen) {
    background-color: transparent;
    border: none;
    display: inline-block;
    margin: 2rem 0;
    padding: 1rem;
    text-align: left;

    /* show page numbers */
    li {
      display: inline; 
      &.vaux-pagination-page-counter {
        display: none;
      }
      > a, > span {
        padding: 0.5rem 1rem;
      }
    }
  }
}

/* Next/Prev Links */
.vaux-pagination-previous,
.vaux-pagination-next {
  a {
    text-decoration: none;
    span {
      height: 1px;
      opacity: 0;
      position: absolute;
      width: 1px;
    }
    &:before,
    &:after {
      font-family: FontAwesome;
    }

    @include media($tablet-screen) {
      text-decoration: underline;
      span {
        height: auto;
        opacity: 1;
        position: relative;
        width: auto;
      }
    }
  }

  &.vaux-pagination-disabled {
    a {
      color: $pagination-disabled-color;
      cursor: default;
      pointer-events: none;
      text-decoration: none;
    }
  }
}

.vaux-pagination-previous {
  float: left;
  a:before {
    content: $fa-caret-left;
    @include media($tablet-screen) {
      content: '';
    }
  }
}

.vaux-pagination-next {
  float: right;
  a:after {
    content: $fa-caret-right;
    @include media($tablet-screen) {
      content: '';
    }
  }
}

/* Page Counter */
.vaux-pagination-page-counter {
  font-weight: 700;
  text-align: center;

  @include media($tablet-screen) {
    display: none;
  }
}

.vaux-pagination-active a {
  color: $pagination-active-color;
  cursor: default;
  font-weight: 700;
  text-decoration: none;
}