<!-- SASS: src/stylesheets/_components/toggle-switch.scss -->

<fieldset class="usa-fieldset-inputs">
  <legend class="usa-sr-only">Settings:</legend>

  <ul class="usa-unstyled-list">
    <li class="vaux-toggle-switch">
      <input id="vauxToggleSwitchOne" type="checkbox" name="vaux-toggle-setting-one" value="active" aria-labelledby="vaux-toggle-switch-label">
      <label for="vauxToggleSwitchOne"></label>
      <span id="vaux-toggle-switch-label">Setting One</span>
    </li>

    <li class="vaux-toggle-switch">
      <input id="vauxToggleSwitchTwo" type="checkbox" name="vaux-toggle-setting-two" value="active" aria-labelledby="vaux-toggle-switch-label-two">
      <label for="vauxToggleSwitchTwo"></label>
      <span id="vaux-toggle-switch-label-two">Setting Two</span>
    </li>
  </ul>
</fieldset>