<!-- SASS: src/stylesheets/_elements/separators.scss -->

<h6>Horizontal rule</h6>
<hr>

<h6>Star separators</h6>
<div class="vaux-separator--stars"></div>
<div class="vaux-separator--stars vaux-h-ruled--stars"></div>

<h6>Heading with border</h6>
<h3 class="usa-heading-alt">Apply for Education Benefits</h3>

<h6>Content footer with border</h6>
<div class="heading-border-top">
    Last updated: January 1, 2017
</div>


<style scoped>
  h6:not(:first-of-type) {
    margin-top: 6rem;
  }
</style>