<!-- SASS: src/stylesheets/_components/status-indicators.scss -->

<h6>Small</h6>
<span class="usa-label" role="status" aria-label="New">NEW</span>

<h6>Large</h6>
<span class="usa-label-big" role="status" aria-label="New">NEW</span>

<h6>Color Variations</h6>
<div>
  <span class="usa-label usa-label-primary-darker" role="status">Not Signed</span>
  <span class="usa-label usa-label-primary-darkest" role="status">Not Signed</span>
</div>
<div>
  <span class="usa-label usa-label-primary-alt-darkest" role="status">Pending</span>
</div>
<div>
  <span class="usa-label usa-label-secondary" role="status">Error</span>
  <span class="usa-label usa-label-secondary-dark" role="status">Error</span>
  <span class="usa-label usa-label-secondary-darkest" role="status">Error</span>
</div>
<div>
  <span class="usa-label usa-label-gray-dark" role="status">Started</span>
  <span class="usa-label usa-label-gray" role="status">Started</span>
  <span class="usa-label usa-label-gray-medium" role="status">Started</span>
  <span class="usa-label usa-label-gray-warm-dark" role="status">Started</span>
</div>
<div>
  <span class="usa-label usa-label-purple" role="status">Vitals</span>
</div>
<div>
  <span class="usa-label usa-label-green" role="status">Signed</span>
</div>
<div>
  <span class="usa-label usa-label-blue" role="status">Report Complete</span>
  <span class="usa-label usa-label-blue-light" role="status">Report Complete</span>
  <span class="usa-label usa-label-blue-lighter" role="status">Report Complete</span>
  <span class="usa-label usa-label-blue-lightest" role="status">Report Complete</span>
  <span class="usa-label usa-label-outline" role="status">Report Complete</span>
</div>

<style scoped>
  div {
    margin-bottom: 1rem;
  }
</style>