<!-- SASS: src/stylesheets/_components/pagination.scss -->

<h6>Pagination - Default</h6>
<nav class="vaux-pagination" role="navigation" aria-label="Pagination Navigation">
  <ul>
    <li class="vaux-pagination-previous vaux-pagination-disabled"><a href="#" aria-label="Previous Page" tabindex="-1"><span>Previous</span></a></li>
    <li class="vaux-pagination-page-counter">Page 1 of 10</li>
    <li class="vaux-pagination-active"><a href="#" aria-label="Current Page, Page 1" aria-current="true">1</a></li>
    <li><a href="#" aria-label="Go to Page 2">2</a></li>
    <li><a href="#" aria-label="Go to Page 3">3</a></li>
    <li><a href="#" aria-label="Go to Page 4">4</a></li>
    <li><a href="#" aria-label="Go to Page 5">5</a></li>
    <li class="vaux-pagination-next"><a href="#" aria-label="Next Page"><span>Next</span></a></li>
  </ul>
</nav>

<h6>Pagination - Large Page Count</h6>
<nav class="vaux-pagination" role="navigation" aria-label="Pagination Navigation">
  <ul>
    <li class="vaux-pagination-previous vaux-pagination-disabled" tab-index="-1"><a href="#" aria-label="Previous Page" tabindex="-1"><span>Previous</span></a></li>
    <li class="vaux-pagination-page-counter">Page 1 of 10</li>
    <li class="vaux-pagination-active"><a href="#" aria-label="Current Page, Page 1" aria-current="true">1</a></li>
    <li><a href="#" aria-label="Go to Page 2">2</a></li>
    <li><a href="#" aria-label="Go to Page 3">3</a></li>
    <li><a href="#" aria-label="Go to Page 4">4</a></li>
    <li><a href="#" aria-label="Go to Page 6">5</a></li>
    <li class="vaux-pagination-ellipsis"><span>. . .</span></li>
    <li><a href="#" aria-label="Go to Page 50">50</a></li>
    <li class="vaux-pagination-next"><a href="#" aria-label="Next Page"><span>Next</span></a></li>
  </ul>
</nav>

<h6>Pagination - Range Example</h6>
<nav class="vaux-pagination" role="navigation" aria-label="Pagination Navigation">
  <ul>
    <li class="vaux-pagination-previous"><a href="#" aria-label="Previous Page"><span>Previous</span></a></li>
    <li class="vaux-pagination-page-counter">Page 7 of 10</li>
    <li><a href="#" aria-label="Go to Page 1">1</a></li>
    <li class="vaux-pagination-ellipsis"><span>. . .</span></li>
    <li class="vaux-pagination-active"><a href="#" aria-label="Current Page, Page 7" aria-current="true">7</a></li>
    <li><a href="#" aria-label="Go to Page 8">8</a></li>
    <li><a href="#" aria-label="Go to Page 9">9</a></li>
    <li><a href="#" aria-label="Go to Page 10">10</a></li>
    <li><a href="#" aria-label="Go to Page 11">11</a></li>
    <li class="vaux-pagination-ellipsis"><span>. . .</span></li>
    <li><a href="#" aria-label="Go to Page 50">50</a></li>
    <li class="vaux-pagination-next"><a href="#" aria-label="Next Page"><span>Next</span></a></li>
  </ul>
</nav>