<h2>Iconography</h2>

<p>Below are some icons that are used in this application. More icons can be found in the <a href="http://fontawesome.io/icons/">Font Awesome icon library</a>.</p>

<table class="vaux-table" aria-readonly="true">
  <caption class="usa-sr-only">Iconography Table</caption>
  <thead>
    <tr>
      <th scope="col">Icon</th>
      <th scope="col">Name</th>
      <th scope="col">Content Variable</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><i class="fa fa-angle-down" aria-hidden="true"></i></th>
      <td><a href="http://fontawesome.io/icon/angle-down">angle-down</a></td>
      <td><p>$fa-angle-down</p></td>
    </tr>
    <tr>
      <th scope="row"><i class="fa fa-angle-left" aria-hidden="true"></i></th>
      <td><a href="http://fontawesome.io/icon/angle-left">angle-left</a></td>
      <td><p>$fa-angle-left</p></td>
    </tr>
    <tr>
      <th scope="row"><i class="fa fa-angle-right" aria-hidden="true"></i></th>
      <td><a href="http://fontawesome.io/icon/angle-right">angle-right</a></td>
      <td><p>$fa-angle-right</p></td>
    </tr>
    <tr>
      <th scope="row"><i class="fa fa-angle-up" aria-hidden="true"></i></th>
      <td><a href="http://fontawesome.io/icon/angle-up">angle-up</a></td>
      <td><p>$fa-angle-up</p></td>
    </tr>
    <tr>
      <th scope="row"><i class="fa fa-bars" aria-hidden="true"></i></th>
      <td><a href="http://fontawesome.io/icon/bars">bars</a></td>
      <td><p>$fa-bars</p></td>
    </tr>
    <tr>
      <th scope="row"><i class="fa fa-calendar" aria-hidden="true"></i></th>
      <td><a href="http://fontawesome.io/icon/calendar">calendar</a></td>
      <td><p>$fa-calendar</p></td>
    </tr>
    <tr>
      <th scope="row"><i class="fa fa-caret-down" aria-hidden="true"></i></th>
      <td><a href="http://fontawesome.io/icon/caret-down">caret-down</a></td>
      <td><p>$fa-caret-down</p></td>
    </tr>
    <tr>
      <th scope="row"><i class="fa fa-caret-left" aria-hidden="true"></i></th>
      <td><a href="http://fontawesome.io/icon/caret-left">caret-left</a></td>
      <td><p>$fa-caret-left</p></td>
    </tr>
    <tr>
      <th scope="row"><i class="fa fa-caret-right" aria-hidden="true"></i></th>
      <td><a href="http://fontawesome.io/icon/caret-right">caret-right</a></td>
      <td><p>$fa-caret-right</p></td>
    </tr>
    <tr>
      <th scope="row"><i class="fa fa-caret-up" aria-hidden="true"></i></th>
      <td><a href="http://fontawesome.io/icon/caret-up">caret-up</a></td>
      <td><p>$fa-caret-up</p></td>
    </tr> 
    <tr>
      <th scope="row"><i class="fa fa-check-circle" aria-hidden="true"></i></th>
      <td><a href="http://fontawesome.io/icon/check-circle">check-circle</a></td>
      <td><p>$fa-check-circle</p></td>
    </tr>
    <tr>
      <th scope="row"><i class="fa fa-check-square" aria-hidden="true"></i></th>
      <td><a href="http://fontawesome.io/icon/check-square">check-square</a></td>
      <td><p>$fa-check-square</p></td>
    </tr>
    <tr>
      <th scope="row"><i class="fa fa-chevron-down" aria-hidden="true"></i></th>
      <td><a href="http://fontawesome.io/icon/chevron-down">chevron-down</a></td>
      <td><p>$fa-chevron-down</p></td>
    </tr>
    <tr>
      <th scope="row"><i class="fa fa-chevron-left" aria-hidden="true"></i></th>
      <td><a href="http://fontawesome.io/icon/chevron-left">chevron-left</a></td>
      <td><p>$fa-chevron-left</p></td>
    </tr>
    <tr>
      <th scope="row"><i class="fa fa-chevron-right" aria-hidden="true"></i></th>
      <td><a href="http://fontawesome.io/icon/chevron-right">chevron-right</a></td>
      <td><p>$fa-chevron-right</p></td>
    </tr>
    <tr>
      <th scope="row"><i class="fa fa-chevron-up" aria-hidden="true"></i></th>
      <td><a href="http://fontawesome.io/icon/chevron-up">chevron-up</a></td>
      <td><p>$fa-chevron-up</p></td>
    </tr> 
    <tr>
      <th scope="row"><i class="fa fa-circle" aria-hidden="true"></i></th>
      <td><a href="http://fontawesome.io/icon/circle">circle</a></td>
      <td><p>$fa-circle</p></td>
    </tr>
    <tr>
      <th scope="row"><i class="fa fa-circle-o" aria-hidden="true"></i></th>
      <td><a href="http://fontawesome.io/icon/circle-o">circle-o</a></td>
      <td><p>$fa-circle-o</p></td>
    </tr>
    <tr>
      <th scope="row"><i class="fa fa-clock-o" aria-hidden="true"></i></th>
      <td><a href="http://fontawesome.io/icon/clock-o">clock-o</a></td>
      <td><p>$fa-clock-o</p></td>
    </tr>
    <tr>
      <th scope="row"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></th>
      <td><a href="http://fontawesome.io/icon/exclamation-circle">exclamation-circle</a></td>
      <td><p>$fa-exclamation-circle</p></td>
    </tr>
    <tr>
      <th scope="row"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></th>
      <td><a href="http://fontawesome.io/icon/exclamation-triangle">exclamation-triangle</a></td>
      <td><p>$fa-exclamation-triangle</p></td>
    </tr>
    <tr>
      <th scope="row"><i class="fa fa-external-link" aria-hidden="true"></i></th>
      <td><a href="http://fontawesome.io/icon/external-link">external-link</a></td>
      <td><p>$fa-external-link</p></td>
    </tr>
    <tr>
      <th scope="row"><i class="fa fa-info-circle" aria-hidden="true"></i></th>
      <td><a href="http://fontawesome.io/icon/info-circle">info-circle</a></td>
      <td><p>$fa-info-circle</p></td>
    </tr>
    <tr>
      <th scope="row"><i class="fa fa-minus" aria-hidden="true"></i></th>
      <td><a href="http://fontawesome.io/icon/minus">minus</a></td>
      <td><p>$fa-minus</p></td>
    </tr>
    <tr>
      <th scope="row"><i class="fa fa-plus" aria-hidden="true"></i></th>
      <td><a href="http://fontawesome.io/icon/plus">plus</a></td>
      <td><p>$fa-plus</p></td>
    </tr>
    <tr>
      <th scope="row"><i class="fa fa-search" aria-hidden="true"></i></th>
      <td><a href="http://fontawesome.io/icon/search">search</a></td>
      <td><p>$fa-search</p></td>
    </tr>
    <tr>
      <th scope="row"><i class="fa fa-sign-out" aria-hidden="true"></i></th>
      <td><a href="http://fontawesome.io/icon/sign-out">sign-out</a></td>
      <td><p>$fa-sign-out</p></td>
    </tr>
    <tr>
      <th scope="row"><i class="fa fa-square-o" aria-hidden="true"></i></th>
      <td><a href="http://fontawesome.io/icon/square-o">square-o</a></td>
      <td><p>$fa-square-o</p></td>
    </tr>
    <tr>
      <th scope="row"><i class="fa fa-star" aria-hidden="true"></i></th>
      <td><a href="http://fontawesome.io/icon/star">star</a></td>
      <td><p>$fa-star</p></td>
    </tr>
    <tr>
      <th scope="row"><i class="fa fa-th" aria-hidden="true"></i></th>
      <td><a href="http://fontawesome.io/icon/th">th</a></td>
      <td><p>$fa-th</p></td>
    </tr>
    <tr>
      <th scope="row"><i class="fa fa-times" aria-hidden="true"></i></th>
      <td><a href="http://fontawesome.io/icon/times">times</a></td>
      <td><p>$fa-times</p></td>
    </tr>
  </tbody>
</table>
