<!-- SASS: src/stylesheets/_elements/inputs.scss -->

<fieldset class="usa-fieldset-inputs usa-sans">
  <legend>Historical figures 1</legend>
  <ul class="usa-unstyled-list">
    <li>
      <input id="truth" type="checkbox" name="historical-figures-1" value="truth" checked>
      <label for="truth">Sojourner Truth</label>
    </li>
    <li>
      <input id="douglass" type="checkbox" name="historical-figures-1" value="douglass">
      <label for="douglass">Frederick Douglass</label>
    </li>
    <li>
      <input id="washington" type="checkbox" name="historical-figures-1" value="washington">
      <label for="washington">Booker T. Washington</label>
    </li>
    <li>
      <input id="carver" type="checkbox" name="historical-figures-1" value="carver" disabled>
      <label for="carver">George Washington Carver</label>
    </li>
  </ul>
</fieldset>

<!-- Validation - Error -->
<fieldset class="usa-fieldset-inputs usa-input-error">
  <legend>Historical figures 2</legend>
  <span class="usa-input-error-message" id="input-error-message" role="alert">Helpful error message</span>
  <ul class="usa-unstyled-list">
    <li>
      <input id="truthtwo" type="checkbox" name="historical-figures-1-error" value="truth" checked>
      <label for="truthtwo">Sojourner Truth</label>
    </li>
    <li>
      <input id="douglasstwo" type="checkbox" name="historical-figures-1-error" value="douglass">
      <label for="douglasstwo" class="usa-input-error-label">Frederick Douglass</label>
    </li>
    <li>
      <input id="washingtontwo" type="checkbox" name="historical-figures-1-error" value="washington">
      <label for="washingtontwo">Booker T. Washington</label>
    </li>
    <li>
      <input id="carvertwo" type="checkbox" name="historical-figures-1-error" value="carver" disabled>
      <label for="carvertwo">George Washington Carver</label>
    </li>
  </ul>
</fieldset>