<!-- JS: src/js/graphs.js -->
<!-- Vendor JS: node_modules/highcharts/highcharts.js -->
<!-- Vendor JS: node_modules/highcharts/modules/exporting.js -->
<!-- Vendor JS: node_modules/highcharts/modules/export-data.js -->
<!-- Vendor JS: node_modules/highcharts/modules/accessibility.js -->

<div id="testChartTwo" style="width:100%; height:460px;"></div>