<!-- SASS: src/stylesheets/_components/popover.scss -->
<!-- JS: src/js/popover.js -->
<!-- Vendor JS: src/js/_vendor/tooltip.js-->

<a role="button" tabindex="0" class="usa-button-primary" data-toggle="popover" data-html="true" data-placement="auto" data-content="
<p style='margin: 0'>Sed au persciptis unde omnis iste natus error sit voluptatem accusantium doremque laudantium, totam rem.</p>
">Click to toggle Popover (large)
</a>

<a role="button" tabindex="0" class="usa-button-primary" aria-haspopup="true" aria-expanded="false" data-toggle="popover" data-html="true" data-placement="auto" data-content="
<button data-dismiss='popover' class='vaux-popover-close' tabindex='0'>Close</button>
<h4 style='margin-top: 0;'>Popover Title</h4>
<p>Sed au persciptis unde omnis iste natus error sit voluptatem accusantium doremque laudantium, totam rem.</p>
<div class='vaux-popover-footer'>
  <button type='button' tabindex='0'>Agree</button>
  <button class='usa-button-outline' type='button' tabindex='0'>Disagree</button>
</div>
">Click to toggle Popover (with close button)
</a>