<!-- SASS: src/stylesheets/_components/process-list.scss -->
<!-- JS: src/_js/process-list.js -->

<h6>Vertical list</h6>
<div class="vaux-process-list" aria-label="Process List">
  <ol>
    <li class="completed-step">
      <span><span class="usa-sr-only">Step Complete</span> Start Your Account</span>
    </li>
    <li class="completed-step">
      <span><a href="#"> <span class="usa-sr-only">Step Complete</span> Create Password</a></span>
    </li>
    <li class="current-step" tabindex="0" aria-label="Process List">
      <span class="usa-sr-only">Current Step</span>
      <span>
        <b>Add More Details</b>
        <p>Lorem ipsum dolor sit amet, consectetur adispiscing elit. Nulla ornare mauris ut quam lacinia</p>
        <button>Agree</button>
      </span>
    </li>
    <li>
      <span>Review and Finish</span>
    </li>
  </ol>
</div>
