<!-- SASS: src/stylesheets/_components/process-list.scss -->
<!-- JS: src/_js/process-list.js -->

<h6>Horizontal list</h6>
<div class="vaux-process-list horizontal has-bottom-label" aria-label="Process List">
  <ol>
    <li class="completed-step"></li>
    <li class="completed-step"></li>
    <li class="current-step" tabindex="0"></li>
    <li></li>
  </ol>
</div>

<h6>Horizontal list (with bottom label)</h6>
<div class="vaux-process-list horizontal has-bottom-label" aria-label="Process List">
  <ol>
    <li class="completed-step">
      <span>Start Your Account</span>
    </li>
    <li class="completed-step">
      <span><a href="#" tabindex="-1">Create Password</a></span>
    </li>
    <li class="current-step" tabindex="0">
      <span>
        <b>Add More Details</b>
      </span>
    </li>
    <li>
      <span>Review and Finish</span>
    </li>
  </ol>
  <div class="process-bottom-label" tabindex="0">Centered label</div>
</div>


